@charset "uft-8";
@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Layout for small and medium screens */

html {
  /* font-family: 'Merriweather', serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2 {
  padding: 0.25rem 0.5rem;
  font-weight: normal;
}

.page-grid {
  /* Add left and right margin for screen sizes larger than 1440px */
  width: 96vw;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto auto 5fr;
  grid-template-areas: "hd" "sd" "main" "ft";
}

.footer {
  grid-area: ft;
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title" "nav";
}

/*  Styling for header */

.header-title {
  grid-area: title;
  color: #011A5A;
  text-decoration: none;
}

.header-nav {
  grid-area: nav;
  font-size: 1.4rem;
}

.header-nav-list {
  /* Disable default margin and padding */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.nav-link {
  padding: 0.25rem 0.5rem;
  max-width: 140px;
  text-decoration: none;
  color: #333;
}

/* Styling for sidebar */

.sidebar {
  grid-area: sd;
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin-left: 0.25rem;
  margin-right: 1rem;
  align-self: center;
}

.about-image {
  border: 8px solid #011A5A;
  border-radius: 15%;
}

.about-intro {
  /* Override default margin on p */
  margin: 1rem 0;
  padding: 0.25rem 0.5rem;
  flex-basis: 180px;
  flex-grow: 1;
  justify-self: start;
  align-self: center;
}

.about-name {
  margin: 0;
  padding: 0;
}

/* Styling for content area */

.content {
  grid-area: main;
}

.content-list {
  margin: 0;
  padding: 0 0.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows handled implicitly. */
  grid-gap: 1rem;
}

.post-title {
  font-size: 2rem;
  margin-block-end: 0.4em;
}

.meta-top {
  font-size: 1rem;
  padding: 4px 8px;
}

.summary::after, .date::after {
  padding: 0 8px;
  content: " \2014";
}

.header-nav-item {
  /* Prevent nested nav-links from wrapping */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-nav-item:not(:last-of-type)::after {
  padding: 4px 0;
  content: "/";
}

.post-body {
  padding: 4px 8px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.post-summary {
  padding: 4px 8px;
  font-size: 1.1rem;
}

.summary {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}

.social-sharing {
  margin: 0.4em 0;
  /* No padding for use in author section */
  padding: 4px 0;
}

.social-sharing--align-right {
  margin-left: auto;
  padding: 4px 8px;
}

.fa {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.75rem;
  padding: 2px;
  color: grey;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid grey;
}

.initials {
  color: #011A5A;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Layout for large screens */

.footer {
  grid-area: ft;
  display: flex;
  /* Same as in header */
  font-size: 1.4rem;
  align-items: center;
}

@media(min-width:1100px) {
  .page-grid {
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 150px auto 5fr;
    grid-template-areas: "hd hd" "main sd" "ft ft";
  }
  .sidebar {
    /* Necessary here because figure box for avatar
       is much smaller than for full robot pic
       on the main page. */
    flex-direction: column;
  }
  .about-intro {
    text-align: center;
  }
  .about-image {
    /* Flip image on the x-axis to have the avatar 
     * look in on the main content section */
    transform: scaleX(-1);
  }
}