@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  /* font-weight 'normal' looks too dark and heavy. */
  font-weight: lighter;
  /* background-color: #EDF8F9; */
}

h1 {
  font-family: "Aldrich", sans-serif;
}

h2,
h3 {
  /* Adjusted to match body font-weight. */
  font-weight: normal;
}

a {
  color: #011a5a;
}

figure {
  /* Cancel margin-left. Box padding already takes care of this */
  margin-left: 0;
  /* Push the descriptive text to the right a little further. */
  margin-right: 1rem;
  /* Alignment primarily targets the avatar figure which uses the same style. */
  align-self: center;
}

figcaption {
  margin: 0.1rem;
  font-size: xx-small;
  text-align: center;
}

button {
  border: 1px solid;
  border-radius: 12%;
  font-size: 0.9rem;
  font-weight: 300;
  color: #011a5a;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem 0 gray;
}

button:hover {
  color: white;
  background-color: lightslategray;
  opacity: 50%;
}

.box {
  border: 1px solid #e80424;
}

.pad-default {
  padding: 0.25rem 0.5rem;
}

/* +++++++++++++++++++
 * Page layout for small and medium screens 
 * +++++++++++++++++++ */

.page-grid {
  /* Add left and right margin for screen sizes larger than 1440px */
  width: 96vw;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto auto 50px;
  grid-template-areas: "hd" "sd" "main" "ft";
}

/* +++++++++++++++++++
 * Styling for header
 * +++++++++++++++++++ */

.header {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title" "nav";
}

.header-title {
  grid-area: title;
  color: #011a5a;
  text-decoration: none;
}

.header-nav {
  grid-area: nav;
}

.nav-list {
  /* Disable default margin and padding. */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* Keep font-size here, so that it can be re-used in footer. */
  font-size: 1.4rem;
}

/* Distinguish root and segment entries in the nav-bar to 
 * be able to apply path separator more easily in blog post nav-bar. */
.nav-root-item,
.nav-item {
  /* Prevent nested nav-links from wrapping */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Separate root nav-items. */
.nav-root-item:not(:first-of-type) {
  margin-left: 1rem;
}

/* Separate Home link from the rest of the root(!) items. */
.nav-root-item:nth-of-type(2) {
  margin-left: auto;
}

/* Separate path segments in blog post nav-bar. Use to margin for consistency. */
.nav-item::before {
  margin: 0 0.5rem;
  content: "/";
}

.nav-link {
  max-width: 140px;
  text-decoration: none;
  color: #333;
}

/* +++++++++++++++++++
 * Styling for sidebar
 * +++++++++++++++++++ */

.sidebar,
.sidebar-author {
  grid-area: sd;
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  border-radius: 12%;
  border: 8px solid #011a5a;
  /* Center image inside the figure. */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-intro,
.about-author {
  /* Override default margin on p. */
  margin: 1rem 0;
  flex-basis: 160px;
  flex-grow: 1;
  justify-self: flex-start;
  /* Center intro when stretching. */
  align-self: center;
}

.about-name, /* Styles the bold headline in the descriptive text of the sidebar. */ 
.social-media /* Styles container for social buttons. */ {
  /* Override default padding and margin. */
  margin: 0;
  padding: 0;
}

/* +++++++++++++++++++
 * Social buttons (used in several places).
 * +++++++++++++++++++ */

.fa {
  color: grey;
  font-size: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: 0.125rem solid grey;
  padding: 0.125rem;
  text-align: center;
  text-decoration: none;
}

/* +++++++++++++++++++ 
 * Styling for content area
 * +++++++++++++++++++ */

.content {
  grid-area: main;
}

/* Cards (welcome page) */
.content-list {
  /* margin: Use default (1em) for clear separation of last item from the footer. */
  /* Override default padding. */
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: handled implicitly. */
  gap: 2rem 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0 0.25rem 0.5rem 0 darkslategrey;
}

.card-header {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.card-avatar {
  border-radius: 12%;
  border: 2px solid #011a5a;
  /* Don't let avatar grow too large on a card.*/
  max-width: 50px;
}

.card-meta {
  font-size: 0.8rem;
}

.summary-keyword::after,
.date::after {
  padding: 0 0.5rem;
  content: "\2014";
}

/* Blog post content */

.post-title {
  /* Extra-large heading. */
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.post-summary {
  font-size: 1.1rem;
}

.summary-keyword {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}

.post-body {
  font-family: "Merriweather", serif;
}

.initials {
  /* font-family: "Roboto", sans-serif; */
  font-weight: bold;
  color: #011a5a;
  text-decoration: underline;
}

/* +++++++++++++++++++ 
/* Styling for footer area
 * +++++++++++++++++++ */

.footer {
  grid-area: ft;
}

/* +++++++++++++++++++
 * Page layout for large screens
 * +++++++++++++++++++ */

@media (min-width: 1100px) {
  .page-grid {
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 150px auto 50px;
    grid-template-areas: "hd hd" "main sd" "ft ft";
  }

  .about-image {
    /* Flip image on the x-axis to have the robot 
     * look in on the main content section */
    transform: scaleX(-1);
  }

  .sidebar {
    justify-content: center;
  }

  .sidebar-author {
    /* Necessary here because figure box for avatar is much smaller 
     * than for full robot pic on the main page. */
    flex-direction: column;
  }

  .about-intro {
    text-align: center;
    /* Reduce gap between figure and intro when grid has two main columns. */
    align-self: flex-start;
  }

  .about-author {
    text-align: center;
  }
}
