@charset "uft-8";
@import url("common.css");
/* Layout for small and medium screens */

h1, h2 {
  padding: 0.25rem 0.5rem;
}

.page-grid {
  /* Add left and right margin for screen sizes larger than 1440px */
  width: 96vw;
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto auto 50px;
  grid-template-areas: "hd" "sd" "main" "ft";
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title" "nav";
}

/*  Styling for header */

.header-title {
  color: darkblue;
  grid-area: title;
}

.header-nav {
  grid-area: nav;
}

.header-nav-list {
  /* Disable default margin and padding */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 1.4rem;
  max-width: 140px;
  text-decoration: none;
  color: #333;
}

.header-nav-item:nth-of-type(2) {
  /* Separate Home link from the rest of the nav items */
  margin-left: auto;
}

/* Styling for sidebar */

.sidebar {
  grid-area: sd;
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin-left: 4px;
  margin-right: 4px;
}

figcaption {
  font-size: xx-small;
  text-align: center;
}

.about-image {
  /* Limit size to never fill parent completely. Keep ratio. */
  border-radius: 12%;
  border: 8px solid darkblue;
}

.about-intro {
  margin: 0;
  padding: 0.25rem 0.5rem;
  grid-area: about;
  flex-basis: 130px;
  flex-grow: 1;
  justify-self: start;
  /* Center intro when stretching */
  align-self: center;
}

.about-name {
  margin: 0;
  padding: 0;
}

.social-sharing {
  margin: 0.4em 0;
  padding: 4px 8px;
}

.social-sharing--align-right {
  margin-left: auto;
}

.fa {
  width: 0.75rem;
  height: 0.75rem;
  font-size: 0.75rem;
  padding: 2px;
  color: grey;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid grey;
}

/* Styling for content area */

.content {
  grid-area: main;
}

.content-list {
  margin: 0;
  padding: 0 0.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows handled implicitly. */
  grid-gap: 1rem;
}

.card {
  margin: 0 0 1rem 0;
  padding: 1rem
}

.meta {
  display: flex;
  font-size: 0.8rem;
}

.duration {
  margin-left: auto;
}

/* Styling for footer area */

.footer {
  grid-area: ft;
  display: flex;
  align-items: center;
}

/* Layout for large screens */

@media(min-width:1100px) {
  .page-grid {
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 150px auto 5fr;
    grid-template-areas: "hd hd" "main sd" "ft ft";
  }
  .sidebar {
    justify-content: center;
  }
  .about-intro {
    text-align: center;
  }
  .about-image {
    /* Flip image on the x-axis to have the avatar 
     * look in on the main content section */
    transform: scaleX(-1);
  }
}