@charset "uft-8";
@import url("common.css");
/* Layout for small and medium screens */

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 15fr 65fr 5fr;
  grid-template-areas: "hd" "sd" "main" "ft";
}

.content {
  grid-area: main;
}

.sidebar {
  grid-area: sd;
}

.footer {
  grid-area: ft;
}

.header-grid {
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title" "nav";
}

/*  Styling for header */

.header-title {
  color: blue;
  padding: 0.25rem 0.5rem;
  grid-area: title;
}

.header-nav {
  grid-area: nav;
}

.header-nav-list {
  /* Disable default margin and padding */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.header-nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 1.4rem;
  max-width: 140px;
  text-decoration: none;
  color: #333;
}

.header-nav-item:nth-of-type(2) {
  /* Separate Home link from the rest of the nav items */
  margin-left: auto;
}

/* Layout for large screens */

@media(min-width:1100px) {
  .page-grid {
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 150px 80fr 5fr;
    grid-template-areas: "hd hd" "main sd" "ft ft";
  }
}