@charset "utf-8";

.nav-list {
  /* Disable default margin and padding. */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* Keep font-size here, so that it can be re-used in footer. */
  font-size: 1.4rem;
}

/* Distinguish root and segment entries in the nav-bar to 
 * be able to apply path separator more easily in blog post nav-bar. */
.nav-root-item,
.nav-item {
  /* Prevent nested nav-links from wrapping */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Separate root nav-items. */
.nav-root-item:not(:first-of-type) {
  margin-left: 1rem;
}

/* Separate Home link from the rest of the root(!) items. */
.nav-root-item:nth-of-type(2) {
  margin-left: auto;
}

/* Separate path segments in blog post nav-bar. Use to margin for consistency. */
.nav-item::before {
  margin: 0 0.5rem;
  content: "/";
}

.nav-link {
  max-width: 140px;
  text-decoration: none;
  color: #333;
}